# Ignore storage directory for downloaded files
storage/
storage/*

# Ignore ChromaDB files
chroma_db/
chroma_db/*

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables
.env

# Ignore logs
*.log 